/*----------------------------- Start Global ---------------------------------*/
body{
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{

}
h1{
  font-size: 200px;
  font-family: 'Laila', serif;
  margin-bottom: 0;
}
h2{
  font-size: 36px;
}
h3{
  font-size: 28px;
}
h4{
  font-size: 24px;
}
h5{
  font-size: 20px;
}
h6{
  font-size: 16px
}
ul,li{
  margin: 0;
  padding: 0;
}
a:hover{
  text-decoration: none;
}
/*----------------------------- Start Global ---------------------------------*/
/*----------------------------- Start Framework ---------------------------------*/
.h1{
  font-size: 45px;
}
.main-color{
  color:#303030;
}
.second-color{
  color: #82B541;
}
.second-back{
  background-color: #82B541;
}
.main-back{
    background-color:#282828;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4)
}
.nice-font{
  /* font-family: "another day in paradise" */
}
.btn{
 display: block;
 width: 190px;
 border: 1px solid #ccc;
 font-size: 20px;
 margin: 40px 20px;
 color: #fff;
 -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
 -o-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;
}
.logo,
.head h2{
  font-family: "laila";
}
.head h2{
  /* font-size: 36px; */
}
.content{
  width: 100%;
  margin:0 auto;
  min-height: 100vh;
  background-color: #f9f9f920;
  padding-bottom: 30px;
  box-shadow: 0 1px 5px 0px #ccc;
  padding-bottom: 100px;
}
.content .head{
  padding-top: 100px;
}
.image img{
  width: 100%;
}
/*----------------------------- End Framework ---------------------------------*/
/*----------------------------- Start interface ---------------------------------*/
.interface{
  height:100vh;
  background: url("../images/headerBack.jpg") center center no-repeat;
  position: relative;
  color: #fff;
}
.interface .text{
  margin-top: 80px;
}
.interface .text p{
  font-size: 24px;
  letter-spacing: 20px;
  display: block;
  margin-top: -20px;
  margin-left: 10px;
}
.interface .welcome{
  margin-top: 70px;
  font-size: 18px;
  letter-spacing: 2px;
}
.interface .btn:hover{
  box-shadow: 0 0 5px 1px #999;
  -webkit-box-shadow: 0 0 5px 1px #999;
  color: #fff;
}
.interface .buttons{
  justify-content:center;
}
/*----------------------------- End interface ---------------------------------*/
/*----------------------------- Start Access ---------------------------------*/
.access{
  height: 100vh;
  background-color:#f6f6f6;
  /* background-image: url("../images/access.jpg"); */
  color: #fff;
  padding-top: 11vh;
}
.access.register{
  padding-top: 5vh;
}
.access.register .content-acc{
  height: 88vh !important;
}
.access .container{
  width: 1000px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 10px 2px #ccc;
  -webkit-box-shadow: 0 1px 10px 2px #ccc;
}
.access .content-acc{
  background-color: #fcfcfc;
  height: 80vh;
}
.access .row{
  height: 100%;
}
.access .row >div:first-of-type{
  height: 100%;
  background:url("../images/rowBack.jpg");
}
.access .overlay{
  background-color: rgba(0, 0, 0, 0.14)
}
.access .overlay img{
  height: 100%;
}
.access .overlay .text{
  margin-top: 120px;
}
.access .overlay .text p{
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
}
.access .overlay .text h2{
  font-size: 60px;
  margin-top: 30px;
}
.access .overlay .text p:last-of-type{
  font-size: 18px;
  margin-top: 50px;
  padding: 0 50px;
  font-weight: 400;
  letter-spacing: 3px;
}
.access .form{
  color: #333;
  padding: 50px 30px;
}
.access .form h5{
  color: #555;
  text-transform: capitalize;
}
.access .form form{
  margin: 80px 0 80px;
}
.access .form .form-group{
    /* justify-content: space-between; */
}
.access .form input{
  width: 65%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  margin-top: 20px;
  color: #666;
}
.access.register .form input{
  margin-top: 13px;
}
.access .form input:focus{
  outline: 0;
}
.register .form .foot{
  margin-top: 20px;
}
.register .form input[type="file"]{
  width: 99px;
  position: relative;
}
.register .form .file{
  width: 335px;
  justify-content: space-between;
}
.register .form .file span{
  width: 30px;
  height: 30px;
  background-color: #e5e5e5;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
}
.register .form .file input[type="file"]{
  width: 120px;
  height: 30px;
}
.register .form .file input[type="file"]::after{
  content: "Upload Image";
  position: absolute;
  top: 0;
  left:0;
  width: 120px;
  height: 51px;
  background-color: #fff;
  line-height: 31px;
  color: #333;
  font-weight: 500;
  cursor: pointer;
}
.register .form .foot h6{
  margin: 30px 0 0 60px;
}
.access .form input.btn{
  width: auto !important;
  border: 1px solid #ccc;
  margin-left: 0;
  font-size: 18px;
  padding: 5px 35px;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
}
.register.access .form form{
  margin: 20px 0 30px;
}
.register.access .form .form-group{
  margin-bottom: 7px;
}
/*----------------------------- End Acess---------------------------------*/
/*----------------------------- Start Header ---------------------------------*/
.header{
  padding: 0px 30px;
}
.header .row{
  justify-content: space-between;
}
.header h2{
  margin: 0;
}
.header h2 a{
  color: #fff;
}
.header .media .image{
  width: 50px;
}
.header .media h6{
    width: 100%;
    color: #fff;
    letter-spacing: 1px;
    margin: 15px 0 0 20px;
}
.header .media h6 i{
  font-size: 14px;
  margin-left: 20px;
}
.header .media .media{
  padding: 5px 0;
}
.header .media .media .image{
  width: 40px;
}
.header .media .media .media-body{
  padding: 8px 15px;
}
.collapse{
  justify-content: space-between;
  padding-left: 342px;
}
.bg-light {
  background-color: transparent !important;
}
.nav-link{
  padding: 0;
}
.dropdown-toggle::after{
  display: none;
}
.dropdown-menu {
  top: 168%;
  left: auto;
  right: -20px;
  width: 15rem;
  padding: 10px 0px;
}
.dropdown-item{
  font-weight: 500;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  background-color: #82B541;
}
.collapse .links li{
  display: inline-block;
  margin: 0 30px;
  /* font-size: 18px; */
  font-weight: 500;
  border-bottom: 2px solid transparent;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  letter-spacing: 1px;
}
.collapse .links li:hover,
.collapse .links li.active{
  border-bottom-color: #82B541;
}
.collapse .links li a{
  display: block;
  padding: 5px 0;
  color: #fff;
}
.logo i{
  font-size: 40px;
  color: #82b541;
  transform: translateY(-3px);
  margin-left: 5px;
}
/*--------------------------------- End Header ------------------------------*/
/*--------------------------------- Start Home ------------------------------*/
.home .upper{
  height: 60vh;
  background: url('../images/home.jpg') 65% 57% no-repeat fixed;
}
.home .text{
  width: 80%;
  margin: auto;
  color: #666;
  font-size: 18px;
  line-height: 35px;
  margin-top: 50px;
}
#testimonial {
    margin-top: 150px;
    background: url('../images/testBack.jpg') center center no-repeat fixed;
    position: relative;
    height: 560px;
}
#testimonial .overlay{
  padding: 0px 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(23, 21, 21, 0.65);
}
#testimonial .carousel{
  color: #000;
  margin-top: 80px;
  padding: 0 80px
}
#testimonial .h1{
  color: #fff;
}
#testimonial .lead{
  line-height: 1.8;
  margin-bottom: 10px;
  color: rgb(231, 231, 231)
}
#testimonial .carousel-item span{
  font-weight: 600;
  font-size:14px;
  color: #82B541;
}
#testimonial .carousel-inner{
  min-height: 105px;
}
#testimonial .carousel-indicators{
  bottom: 0px;
  position: static;
  margin-left: auto;
  width: 100%;
  margin-top: 30px;
}
#testimonial .carousel-indicators li{
  border-color: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-indent: 0;
  margin: 0 10px;
  overflow: hidden;
  opacity: 0.6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#testimonial .carousel-indicators li img{
  width: 100%
}
#testimonial .carousel-indicators .active{
  background-color: transparent;
  -webkit-box-shadow: 0 0 20px 0px #333;
  -moz-box-shadow: 0 0 20px 0px #333;
  -o-box-shadow: 0 0 20px 0px #333;
  box-shadow: 0 0 20px 0px #999;
  opacity: 1;
}
/*--------------------------------- End Home ------------------------------*/
/*--------------------------------- Start Type ------------------------------*/
.type h1{
  font-size: 60px;
}
.type .choices .row{
  margin-top: 50px;
  padding:  0 100px;
  justify-content: space-between;
}
.type .choices h3{
  margin-top: 20px;
}
.type .choices .choice{
  padding:40px 10px;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}
.type .choices .choice .icon{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  line-height: 180px;
  margin: auto;
}
.type .choices .choice:hover{
  transform: translate(5px);
}
.type .row >div:last-of-type .choice:hover{
  transform: translate(-5px);
}
.type .row >div:last-of-type .choice{
  /* margin-left: 80px; */
}
.type .choices i{
  font-size: 55px;
  margin-bottom: 30px;
  color: #fff;
}
.type .choices a{
  display: block;
}
/*----------------------------- End Type ---------------------------------*/
/*----------------------------- Start Founder -----------------------------*/
.fouder .content .form{
  margin: 80px 80px;
}
.fouder .content .form .form-group{
  display: flex;
}
.fouder .content .form label{
  width: 120px;
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
}
.fouder .content .form .form-control{
  width: 60%;
  display: inline-block;
}
.fouder .content .form .quest .form-control{
  width: 30%;
  display: inline-block;
  margin-right: 26px;
}
.fouder .content .form .quest label:last-of-type{
  width: 50px;
  font-size: 16px;
}
.fouder .content .form .quest .form-control:last-of-type{
  width: 20%;
  display: inline-block;
}
.fouder .content .form input.form-control[type="date"]{
  position: relative;
  padding-left: 6px;
}
.fouder .content .form input.form-control[type="date"]::after{
  content: "";
  position: absolute;
  top: 3px;
  right: 30px;
  background-color: #fff;
  width: 60px;
  height: 30px;
}
.fouder .content .form textarea{
  resize: none;
}
.fouder .content .form .btn{
  margin-left: 0;
  width: 140px;
  padding: 10px 15px;
  margin-top: 100px;
}
.fouder .content .form .btn:hover{
  background-color: hsl(86, 45%, 45%)
}
.fouder .form-control:focus {
    border-color: #82b541;
    box-shadow: 0 0 0 0 transparent;
}
.fouder .form .file{
  margin-top: 45px;
}
.fouder .form .file input[type="file"]{
  position: relative;
  width: 120px;
  height: 30px;
  display: block;
}
.fouder .form .file input[type="file"]:focus{
  outline: 0;
}
.fouder .form .file input[type="file"]::after{
  content: "Upload Image";
  position: absolute;
  top: 0;
  left:0;
  width: 120px;
  height: 51px;
  background-color: #fff;
  line-height:38px;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  font-size: 18px;
}
/*----------------------------- End Founder ---------------------------------*/
/*----------------------------- Start Team ---------------------------------*/
.team .row>div{
  max-width: 25%;
  margin: 0 auto;
}
.team .ourTeam{
  margin-top: 80px;
}
.team .ourTeam .member{
  overflow: hidden;
  color: #999;
  position: relative;
}
.team .ourTeam .member span{
  font-size: 14px;
  color: #737373;
  display: inline-block;
  margin-top: 8px;
  font-weight: 500;
}
.team .ourTeam .member h5{
  letter-spacing: 1px;
  color: #555;
}
.team .ourTeam .member .image{
  width: 100%;
  height: 282px;
  position: relative;
}
.team .ourTeam .member .image img{
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 95%;
  height: 95%;
  border-radius: 8px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out , border 0s linear;
  -moz-transition: all 0.2s ease-in-out , border 0s linear;
  -o-transition: all 0.2s ease-in-out , border 0s linear;
  transition: all 0.2s ease-in-out , border 0s linear;
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(0.8);
}
.team .ourTeam .member .icons{
    margin: 10px 0 25px;
}
.team .ourTeam .member .icons i{
  padding: 7px;
  background: #999;
  color: #fff;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
}
.team .ourTeam .member .icons i.fa-facebook-f{
  padding: 7px 10px;
}
.team .ourTeam .member p{
    line-height: 2;
    font-size: 13px;
}
.team .ourTeam .row >div.active .member img{
  width: 100%;
  height: 100%;
  left: 0px;
  border-bottom: 5px solid #628b2d;
  filter: none;
}
.team .ourTeam .row >div.active .member .icons i.fa-facebook-f{
  padding: 7px 10px;
  background-color: #205b9f
}
.team .ourTeam .row >div.active .member .icons i.fa-twitter{
  background-color: #00ace3
}
.team .ourTeam .row >div.active .member .icons i.fa-google{
  background-color: #ff3921
}
.team .ourTeam .row >div.active .member{
  color: #555;
}

/*----------------------------- End Team ---------------------------------*/
/*----------------------------- Start Search ---------------------------------*/
.searcher .row >div ~ .match{
  display: none;
}
.searcher .content{
  padding:0 90px;
}
.searcher .search{
  margin-top: 120px;
}
.searcher .search-bar{
  position: relative;
}
.searcher .search-bar form{
  width: 100%;
}
.searcher .search-bar input{
  width: 100%;
  border-radius: 0;
  padding: 15px 16px;
  border:1px solid #82B541;
  height: 50px;
  color: #333;
}
.searcher .search-bar input::placeholder{
  font-size: 18px;
}
.searcher .search-bar input:focus{
  outline: 0;
}
.searcher .search-bar .btn{
  height: auto;
  text-align: left;
  padding: 0;
  height: 49px;
  margin: 0;
  margin-left: 15px;
  width: 90px;
  position: absolute;
  top: 0px;
  right: -1px;
  border-radius: 0;
  text-align: center;
  font-size: 28px;
  border: 0;
}
.searcher .search-bar .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 transparent;
}
.searcher .search-bar .btn img{
  width: 18px;
  display: inline-block;
  margin: -4px 12px 0 17px;
}
.searcher .filters,
.searcher .persons,
.searcher .results{
  width: 100%;
}
.searcher .filters{
  padding: 12px 0 8px;
  border-bottom: 1px solid rgba(130, 181, 65, 0.57);
}
.searcher .filters ul {
  margin-left: 12px;
}
.searcher .filters ul li{
  display: inline-block;
  margin-right: 22px;
  font-size: 16px;
  color: #565656;
  cursor: pointer;
  padding-bottom: 2px;
  border-bottom: 2px solid #fff;
  font-weight: 500;
}
.searcher .filters ul li.active{
  border-color: #82B541;
}
.searcher .items{
  margin-top: 60px;
}
.searcher .item{
  margin-bottom: 100px;
  position: relative;
}
.searcher .item .image{
  border-radius: 5px;
  overflow:hidden;
  margin-bottom: 20px;
}
.searcher .item h4{
  margin: 0 0 0 2px;
}
.searcher .item span{
  font-size: 14px;
  color: #aaa;
  display: inline-block;
  margin-bottom: 0px;
}
.searcher .item .desc{
  letter-spacing: 1px;
  color: #555;
  min-height: 90px;
}
.searcher .item .btn{
  font-size: 16px;
  font-weight: 500;
  margin: 10px auto;
}
.searcher .item .btn:hover{
  color: #fff;
}
.searcher .item .delete{
  position: absolute;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f00;
  color: #fff;
  line-height: 30px;
  text-align: center;
}
.searcher .item .delete.edit{
  position: absolute;
  top: -10px;
  left: auto;
  right: -10px;
  background-color:rgb(0, 87, 255);
}
/*----------------------------- End Search ---------------------------------*/
.done .content{
  padding-top: 15vh;
  height: 0;
}
/*----------------------------- Start mine ---------------------------------*/
.mine .cograts{
  width: 80%;
  height: 240px;
  margin: -100px auto;
  border-radius: 0 0 50px 50px;
  padding-top: 50px;
  color: #fff;
  margin-bottom: 150px;
}
.mine .h1{
  font-size: 28px;
  line-height: 45px;
}
.mine .row>div{
  margin: 70px auto;
}
.mine .item .image{
  border-radius: 5px;
  overflow:hidden;
  margin: auto;
  margin-bottom: 20px;
  width: 60%;
}
.mine .item h4{
  color: #333;
}
.mine .item span{
  font-size: 16px;
  color: #aaa;
  display: inline-block;
  margin-bottom: 10px;
}
.mine .item .desc{
  letter-spacing: 1px;
  color: #555;
}
.mine .item .btn{
  font-size: 18px;
  font-weight: 500;
  margin: 50px 0;
}
.mine .item .btn:hover{
  color: #fff;
}
.mine .form{
  margin-top: 80px;
}
.mine .form form{
  margin-top: 50px;
}
.mine .quest,
.mine .ans{
  display: flex;
  justify-content: space-between;
}
.mine label{
  margin-right: 15px;
  margin-top: 8px;
  font-weight: 500;
}
.true .head .h1{
  font-size: 24px;
}
.true .info{
  text-align: left !important;
}
.true .info h4{
  width: 310px;
  padding-bottom: 7px;
  border-bottom: 2px solid #82B541;
}
.true .info .row >div:last-of-type{
  padding-left: 100px;
}
.true .info .image{
  border-radius: 5px;
  overflow: hidden;
}
.true .info ul li{
  padding: 10px 0;
}
/*----------------------------- End Mine ---------------------------------*/
/*----------------------------- Start Profile ---------------------------------*/
.profile .head{
  margin-bottom:80px;
}
.profile .true{
  margin-left:40px;
}
.profile .true .info ul li{
  padding: 20px 0;
}
.profile .user-posts{
  margin-top: 120px;
  padding: 0 40px;
}
.profile .user-posts .inner{
  border-top: 2px solid #82B541;
  padding-top: 40px;
}
.profile .user-posts .user-post .item{
  display: flex;
  justify-content: flex-start;
  padding: 40px 20px 40px;
  position: relative;
  margin-bottom: 40px;
}
.profile .user-posts .user-post .item::after{
  content: "";
  width: 300px;
  height: 2px;
  background-color: #82B541;
  display: block;
  position: absolute;
  bottom: 0;
  left: calc(50% - 150px);
}
.profile .user-posts .user-post .image{
  width: 300px;
  flex-shrink: 0;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 80px;
}
.profile .user-posts .user-post .text h5{
  padding: 19px 0;
}
.profile .row >div ~ .match{
  display: none;
}
/*----------------------------- End Profile ---------------------------------*/
/*----------------------------- Start Update ---------------------------------*/
.fouder .imageNext{
  justify-content: space-between;
  width: 587px;
}
.fouder .file input ~ .image{
  width: 300px;
  /* height: 200px; */
}
.fouder .file input ~ .image img{
  width: 100%;
}
/*----------------------------- End Update ---------------------------------*/
/*----------------------------- Start Footer ---------------------------------*/
.footer {
  margin-top: 150px;
  padding: 30px 0;
  color: #fff;
}
/*----------------------------- End Footer ---------------------------------*/
